{{#contentFor "title"}}
    {{title}}
{{/contentFor}}

<h1 class="page-header"> {{title}}
    <small> Management</small>
</h1>

<ol class="breadcrumb">
    <li><a href="./">Home</a></li>
    <li><a href="javascript:void(0);">Master</a></li>
    <li><a href="{{listURL}}">{{title}}</a></li>
     {{#if id }}
        <li class="active"> Edit</li>
      {{else}}
        <li class="active"> Create</li>
     {{/if}}
</ol>

 {{#if notice_message }}
    <div class="alert alert-{{notice_type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p class="text-left">{{{notice_message}}}</p>
    </div>
{{/if}}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <div class="pull-left">
                {{#if id }}
                    <i class="fa fa-edit"></i>&nbsp;<strong>Edit Record</strong>
                {{else}}
                    <i class="fa fa-plus"></i>&nbsp;<strong>Create Record</strong>
                {{/if}}
            </div>
            <div class="pull-right">
                <a href="{{listURL}}" class="btn btn-sm btn-primary">
                    <i class="fa fa-rotate-left"></i>&nbsp;Back
                </a>
                {{#if id }}
                 <a href="{{createURL}}" class="btn btn-sm btn-success">
                     <i class="fa fa-plus"></i>&nbsp;Create New
                </a>
                 <a href="{{editURL}}" class="btn btn-sm btn-warning">
                    <i class="fa fa-edit"></i>&nbsp;Edit Data
                </a>
                 <a href="{{deleteURL}}" class="btn btn-sm btn-danger" id="btn-delete-data">
                    <i class="fa fa-trash"></i>&nbsp;Delete
                </a>
                <form id="form-delete" method="POST" action="{{deleteURL}}"></form>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form method="POST" action="{{submitURL}}" class="form-horizontal" id="form-submit" role="form" enctype="multipart/form-data">
           <div class="form-group">
                <label class="control-label col-sm-2" for="username">Username :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" value="{{ data.username }}" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email :</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" value="{{ data.email }}" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Phone :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ data.phone }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password :</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="is_active">Active :</label>
                <div class="col-sm-10">
                    {{#if user_active }}
                        <input type="checkbox" name="is_active" value="1" checked="checked"/>
                    {{else}}
                         <input type="checkbox" name="is_active" value="1" />
                    {{/if}}                
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="categories">Roles :</label>
                <div class="col-sm-10">
                    <select name="roles[]" id="roles" data-selected="{{ rolesSelected }}"
                        class="select2 form-control multiple" multiple="multiple">
                        {{#each roles}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                         {{#if id }}
                          <i class="fa fa-edit"></i>&nbsp;Update
                          {{else}}
                          <i class="fa fa-save"></i>&nbsp;Save  
                          {{/if}}
                    </button>
                    <button type="reset" class="btn btn-warning">
                        <i class="fa fa-refresh"></i>&nbsp;Reset
                    </button>
                    <input type="hidden" name="created_at" id="created_at" />
                    <input type="hidden" name="updated_at" id="updated_at" />
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"></div>
</div>

